#sp-header {
  background: #0b1121 !important;
}

.sp-megamenu-parent>li.active>a, .sp-megamenu-parent>li.active:hover>a {
    color: #f8fafc !important;
}

.sp-megamenu-parent>li>a:before, .sp-megamenu-parent>li>span:before {
  background-color: #0b1121 !important;
}

.sp-megamenu-parent > li > a, .sp-megamenu-parent > li > span, .sp-megamenu-parent .sp-dropdown li.sp-menu-item > a {
  color: #f8fafc !important;
}

.sp-megamenu-parent > li > a, .sp-megamenu-parent > li > span, .sp-megamenu-parent .sp-dropdown li.sp-menu-item > a {
  letter-spacing: 1px !important;
}

div.mod-languages .btn-group .btn {
  background: no-repeat !important;
  border: none !important;
  padding: 10px !important;
}

body .sppb-btn, body .btn, .mod-languages, #sp-bottom, .registration input, .sppb-person-name span, .form-builder-radio-label, .pt-modal-font .text, .view-category.politicast-event-list #sp-main-body .container .blog .article-list.articles-leading .article .article-body .fields-container, .pc-press-event-layouts.relation .sppb-article-meta > span, .offcanvas-inner {
      font-size: 13px !important;
}

.sp-megamenu-parent>li:not(:last-child):after {
    content: "" !important;
}

body.ltr.offcanvs-position-left.offcanvas-active .offcanvas-menu {
  background: #0b1121 !important;
}

.offcanvas-menu .offcanvas-inner {
  background: none !important;
}

#sppb-addon-1611232682397 #btn-1611232682397.sppb-btn-custom {
    font-size: 12px !important;
}

#sppb-addon-1611232682397 #btn-1611232682397.sppb-btn-custom {
    padding: 9px 10px 9px 10px !important;
}

#sppb-addon-06d7246b-0f20-4541-8de7-23c2d6521a72 .sppb-addon-text-block .sppb-addon-content {
    font-size: 15px !important;
}

.sp-megamenu-parent > li > a, .sp-megamenu-parent > li > span, .sp-megamenu-parent .sp-dropdown li.sp-menu-item > a {
    font-size: 16px !important;
}

body .sppb-btn.sppb-btn-default, body .sppb-btn.sppb-btn-primary, body .sppb-btn.btn-primary, body .btn.sppb-btn-default, body .btn.sppb-btn-primary, body html.error-page .btn.btn-secondary, html.error-page body .btn.btn-secondary, body .btn.btn-primary {
    background: #d2b278 !important;
    border-color: #d2b278 !important;
}

.sppb-form-group .sppb-form-control, .form-control, input[type=text]:not(.form-control), input[type=email]:not(.form-control), input[type=url]:not(.form-control), input[type=date]:not(.form-control), input[type=password]:not(.form-control), input[type=search]:not(.form-control), input[type=tel]:not(.form-control), input[type=number]:not(.form-control), select:not(.form-control) {
    padding: 8px 10px !important;
    background: rgba(0, 0, 0, 0.1) !important;
}

.hashcash {
    width: 16px !important;
    height: 16px !important;
    border-radius: 1px !important;
    margin-right: 15px !important;
    background: #eeeeeeb8 !important;
}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    background: #1f2c45 !important;
    color: #fff !important;
    border: none !important;
}

.sppb-form-group .sppb-form-control, .form-control, input[type=text]:not(.form-control), input[type=email]:not(.form-control), input[type=url]:not(.form-control), input[type=date]:not(.form-control), input[type=password]:not(.form-control), input[type=search]:not(.form-control), input[type=tel]:not(.form-control), input[type=number]:not(.form-control), select:not(.form-control) {
    color: #c1c1c1 !important;
}


@media (max-width: 1440px) {
    body .sp-megamenu-parent>li>a, .sp-megamenu-parent>li>span, .sp-megamenu-parent .sp-dropdown li.sp-menu-item>a {
        font-size: 14px !important;
        letter-spacing: 0.7px !important;
    }
} 

@media (min-width: 576px) {
    .col-sm-9 {
        width: 85% !important;
    }
}